.header-container
  background-color: #ffffff
  .header-inner
    margin: 0 auto
    width: 1020px
    padding: 15px 0
    .header-login
      margin: 0 auto
      li
        margin-right: 5px 
        &:last-child
          margin-right: 0


.footer-container
  background-color: #7c8b4a
  padding: 0 20px 10px 20px
  .footer-inner
    margin: 0 auto
    width: 1020px
  .footer-copyright
    width: 745px
    margin-top: 23px
    padding-left: 270px
    


