.header-container
  background-color: #ffffff
  .header-inner
    margin: 0 auto
    width: 1020px
    padding: 15px 0
    .header-login
      margin: 0 auto
      li
        margin-right: 5px 
        &:last-child
          margin-right: 0

.main-container
  .main-inner
    margin: 0 auto
    width: 1020px
    .main-left
      width: 600px
      .main-left-table
        padding: 0 20px
    .main-right
      width: calc(100% - 600px)
      .main-right-inner
        .price-box
          line-height: 0
          .price-form
            position: relative
            display: flex
            .price-form-text
              width: 100%
              height: 40px
              padding: 0 42px 0 10px
              border-radius: 4px
              border: 1px solid #ccc
              background-color: #dbe1c6
              opacity: .7
              
            .price-form-yen
              display: flex
              align-items: center
              justify-content: center
              position: absolute
              top: 0
              right: 0
              width: 40px
              height: 40px

.method_of_calculation-box
  display: flex
  justify-content: space-between
  margin-top: 8px
  padding: 0 40px
  .method-radio-label
    margin-bottom: 0
    .method-radio-p
      margin: 0 0 0 15px 



.form-box-title
  margin-top: 20px
  .form-box
    display: inline-block
    justify-content: space-between
    width: 100%
  .form-box-select
    position: relative
    display: flex
  .form-double-down
    position: absolute
    top: 0
    right: 0
    display: flex
    align-items: center
    justify-content: center
    width: 40px
    height: 40px
    margin-top: 8px
    z-index: 3

  .form-input
    position: relative
    width: 100%
    margin-top: 8px
    border: 1px solid #ccc
    height: 40px
    padding: 0 12px 0 10px
    -webkit-appearance: none
    background-color: #dbe1c6
    opacity: .7
  .form-last
    margin-bottom: 20px
.footer-container
  background-color: #7c8b4a
  padding: 0 20px 10px 20px
  .footer-inner
    margin: 0 auto
    width: 1020px
  .footer-copyright
    width: 745px
    margin-top: 23px
    padding-left: 270px
    


